* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }  
body {
	font-family:"Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	overflow-x: hidden;
}
a {
	text-decoration: none; 
}
nav a:hover {
	background-color: rgb(10, 224, 174);
}
.jum {
	padding: 10px;
	margin-bottom: 20px;
    position: relative;
	text-align: center;
	background-image: url(../img/Coffee.jpg); 
	background-repeat: no-repeat; 
	background-size: cover;
    color: white;
}
.jum p {
	text-align: center;
}

.title a{
	color: black;
	position: relative;
	float: right;
	top: -57px;
	right: 5px;
	font-size: 25px;
	text-decoration: none;
	margin-bottom: -20px;
}
.title a:hover {
	color: white;
}
.circle-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: inline-block;
	top: 10px;
}
  
 
.circle-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
.circle-arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px; 
    height: 2px; 
    background-color: #000;
}
.circle-link:hover .circle-arrow {
    border-color: white; 
}
.circle-link:hover .circle-arrow::after {
    border-color: white; 
  }

  .circle-link:hover .circle-arrow::before {
    background-color: white; 
  }
.circle-link:hover {
    color: white; 
}
h1 {
	padding: 0.25em 1em;
}
.card {
    width: 400px;
	padding: 3px;
    margin: -20px 55px 10px 10px;

}
.card img {
    width: 400px;
    height: 300px;
}

h2 {
	position: relative;
  	background: #cebba5;
  	padding: 2px 5px 2px 20px;  	
  	color: #474747;
	border-radius: 15px;
}

h3 {
	color: black;
}
p {
	text-align: justify;
}

footer {
	background-color: #D8D2CB;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
    position: relative;
    top: 60px;
}
footer a {  
	color: #050505;
	padding: 10px;
	text-align: center;
	text-decoration: none; 
} 
footer a:hover { 
	color: #858685;
}
footer p {
	text-align: center;
}
