* {
	box-sizing: border-box;
  }  
body {
	font-family:"Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	overflow-x: hidden;

}
a {
	text-decoration: none; /*移除超連結底線*/
}
nav a:hover {
	background-color: rgb(10, 224, 174);
}
h2 {
	color: black;
}

.card img {
	width: 300px;
	height: 300px;
}



p {
	text-align: justify;
}
/*footer樣式設定*/
footer {
	background-color: #D8D2CB;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
    position: relative;
    top: 60px;
}
footer a {  
	color: #050505;
	padding: 10px;
	text-align: center;
	text-decoration: none; 
} 
footer a:hover { 
	color: #858685;
}
footer p {
	text-align: center;
}
